torch>=1.9.0
torchvision>=0.10.0
simple
regex
scikit-learn
future
yapf
flake8==3.7.9
numpy==1.26.4
wilds
regex
ftfy
fsspec
yapf==0.29.0
flake8
yacs
isort
google 
tensorboard
gdown
wilds
tabulate
tb_nightly
yapf